<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        body {
            background-color: #fff;
            font-family: Verdana;
            text-align: center;
        }
        
        h1 {
            font-size: 80px;
            color: #00539CFF;
        }
        
        .wrapper {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


    
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <div class="wrapper">
        <h1>{{content}}</h1>
      </div>  
</body>
</html>